@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}
#container{
    position: relative;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item{
    width: 100%;
    height: 550px;
    max-width: 820px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    z-index: 1000;
}
.contact{
    background-color: #fff;
    justify-items: center;
    
}
.submit-from{
    background-color: #8f50ec;
}
.first-text{
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    font-size: 35px;
    color: #8f50ec;
    font-weight: 600;
    text-transform: capitalize;
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover; /* Preserve the aspect ratio and fill the container */
    position: absolute; /* Position the image absolutely within the container */
    top: 0;
    left: 0;
}
.social-media{
    display: flex;
    list-style: none;
    flex-direction: row;
}
 ul li{
    padding-left: 15px;
    font-size: 24px;
    margin-top: 10px;
}
 i{
   background-color: #8f50ec;
   padding: 5px;
   border-radius: 5px;
   transition: 0.3s;
   color: #fff;
}
.social-meida i:hover{
    background-color: #fff;
    color: #8f50ec;
}
.secnd-text{
    font-weight: 500;
    color: #8f50ec;
    padding-left: 20px;
}
.third-text{
    font-size: 25px;
    position: relative;
    top: 20px;
    left: 20px;
    padding-top: 10px;
    color: #fff;
}
form{
    padding:  0 50px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    color: #fff;
    font-size: 16px;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    padding-left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s;
}
.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background-color: #8f50ec;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}
textarea.input{
    resize: none;
    height: 150px;
    overflow: auto;
    padding-top: 10px;
}
.btn{
    position: relative;
    top: 100px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 4px;
    height: 45px;
    width: 30%;
    font-size: 16px;
    color: #8f50ec;
    cursor: pointer;
    font-weight: 500;
}
@media(max-width:850px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 40px;
        text-align: center;
    }
    .btn{
        width: 25%;
        height: 40%;
        font-size: 12px;
        
    }
}
@media(max-width:480px){
    .item{
        grid-template-columns: 1fr;
    }
    .contact{
        display: none;
    }
    .text{
        font-size: 20px;
        text-align: center;
    }
    .btn{
        width: 20%;
        height: 40%;
        font-size: 12px;

    }
}